In [5]:
#Task 1 :
#built in functions
#"join" this function joins the string with given character ex:'-'
str1="welcome to python"
s="-"
print(s.join(str1))
s1="."
print(s1.join(str1))

w-e-l-c-o-m-e- -t-o- -p-y-t-h-o-n
w.e.l.c.o.m.e. .t.o. .p.y.t.h.o.n

In [7]:
#"split" functions split the string

print(str1.split())#by default split the string by whitespace
print(str1.split("o"))#here we have given to split the string when there is occurance of "o"

['welcome', 'to', 'python']
['welc', 'me t', ' pyth', 'n']

In [8]:
#"isdigit" function return true if whole string is digit
s1='1920'
print(s1.isdigit())
s2="i'am 21yrs"
print(s2.isdigit())

True
False

In [10]:
#"max" function returns the character alphabetically the highest character
s1="pragati"
print(max(s1))
s2="pagade"
print(max(s2))

t
p

In [11]:
#"min" function returns the character alphabetically the lowest character
s1="pragati"
print(min(s1))
s2="pagade"
print(min(s2))

a
a

In [18]:
#"strip" function removes the mentioned character and by default removes whitespace 
s1="ppragatipagade"
print(s1.strip("p"))

s2="  prgati  pagade"
print(s2)#without strip
print(s2.strip())#with strip

ragatipagade
  prgati  pagade
prgati  pagade

In [19]:
#"center()"creates and returns a new string which is padded with the specified character in given width.
s1="pragati"
print(s1.center(10,'*'))#makes the length of the string in total 10 by padding the given char i.e.,"*"
s2="pragati"
print(s2.center(15,"#"))#here it is "#"

*pragati**
####pragati####

In [20]:
#"replace" functon replace the all occureance of p with g
s1="pragati pagade"
print(s1.replace('p','g'))#.replace("the char to replace","the char to replace with")
s2="pragati pagade"
print(s2.replace("a","i"))

gragati gagade
prigiti pigide

In [2]:
#Task 2
#check weather "to" is present in "welcome to python"
#by using "in" we can check weather the char is present or not
str1="welcome to python"
"to" in str1

True

In [3]:
str1="welcome to python"
if "to" in str1:
    print('"to" is present in str1')
else:
    print('"to" is not in str1')

"to" is present in str1

In [28]:
#Task 3
list1=[10,20,30,40,50]
list1.remove(20)#removes the given num and returns the list 
list1

[10, 30, 40, 50]

In [29]:
print(list1.remove(30))#doubt

None

In [30]:
list1

[10, 40, 50]

In [40]:
list1=[10,20,[20,30],40]
list1.count(20)#counts how many times the given num is present

1

In [36]:
list1=[10,20,30,40]
list1.clear()#clears everything inside the list and returns the empty list
list1

[]

In [38]:
list1=[10,20,30,40,10,15,45]
list1.sort()#sort the list in ascending order
list1

[10, 10, 15, 20, 30, 40, 45]

In [39]:
list1=[10,20,30,15,25]
list1.reverse()#reverse and return the list
list1

[25, 15, 30, 20, 10]

In [47]:
#Task 4
l1=[10,20,[30,40,[50,60],80],90,100]
l1[2][2].insert(2,70)
l1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [68]:
l2=[1,2,[3,4,5,6],9]
l2[2].extend([7,8])
l2

[1, 2, [3, 4, 5, 6, 7, 8], 9]

In [52]:
#Task 5
'''
From the above dictionary, do the following tasks
access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks
'''
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [53]:
dict1['april_batch']['student']['name']

'Mike'

In [54]:
dict1['april_batch']['student']['marks']['python']

80

In [56]:
dict1['april_batch']['student']['name']="pragati"
dict1

{'april_batch': {'student': {'name': 'pragati',
   'marks': {'python': 80, 'maths': 70}}}}

In [57]:
dict1['april_batch']['student']['marks']['ML']=80

In [59]:
dict1

{'april_batch': {'student': {'name': 'pragati',
   'marks': {'python': 80, 'maths': 70, 'ML': 80}}}}

In [60]:
dict1['april_batch']['student']['marks']['DL']=80
dict1

{'april_batch': {'student': {'name': 'pragati',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [77]:
#Task6 - Add and remove the elements from a tuple.

tup = (1,2,3,4,1,1,2,1,2,3,6)

In [78]:
list1=list(tup)#conversion from tuple to list

In [80]:
list1.append(8)#adding 8 to the list
list1

[1, 2, 3, 4, 1, 1, 2, 1, 2, 3, 6, 8, 8]

In [82]:
tup=tuple(list1)#conversion from list to tuple
tup

(1, 2, 3, 4, 1, 1, 2, 1, 2, 3, 6, 8, 8)

In [85]:
list1=list(tup)

In [86]:
list1.pop()#removes the last element

8

In [87]:
list1.remove(1)#removes the element which is 1st occuring

In [88]:
list1

[2, 3, 4, 1, 1, 2, 1, 2, 3, 6, 8]

In [89]:
tup=tuple(list1)

In [90]:
tup

(2, 3, 4, 1, 1, 2, 1, 2, 3, 6, 8)

In [111]:
#Task7 - go through other inbuilt methods like
#1) difference() 2) symmetric_difference()

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

set1.difference(set2)#subtract the set1 from set2 and returns the element remaining in the set1

{1, 2, 3}

In [112]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

set1.symmetric_difference(set2)#subtract the set1 from set2 and returns the element remaing in set1 and set2

{1, 2, 3, 6, 7, 8}

In [113]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

set2.difference(set1)#subtract the set2 from set1 and returns the element remaining in the set2

{6, 7, 8}

In [110]:
#Task9
#Ask 2 numbers from users and store it in num1 and num2
#Ask user to press 1 for addition,2 for subtraction,3 for multiplication and 4 for division
#based on number given by user do the math operation

num1=int(input("enter the 1st number "))
num2=int(input("enter the 2nd number "))
print ("select the operation\n""1.addition\n" "2.subtraction\n" "3.multiplication\n" "4.division")
select=int(input("press the operation you want to perform from 1 2 3 4 \n" ))
if select==1:
    print(num1,"+" ,num2 ,"=" ,num1+num2 )
elif select==2:
    print(num1,"-" ,num2, "=" ,num1-num2)
elif select==3:
    print(num1, "*" ,num2, "=" ,num1*num2)
elif select==4:
    print(num1, "/" ,num2, "=", num1/num2)
else:
    print("invalid input")

enter the 1st number 2
enter the 2nd number 5
select the operation
1.addition
2.subtraction
3.multiplication
4.division
press the operation you want to perform from 1 2 3 4
4
2 / 5 = 0.4